@tailwind base;
@tailwind components;
@tailwind utilities;

<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
.jodit-container:not(.jodit_inline) {
  border-color: black !important;
}
.hero {
  background-image: url("../../public/images/hero.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
=======
=======
>>>>>>> c4272b6 (update)
.hero, .openings,.contact,.faq,.signin{
    background-repeat: no-repeat;
    background-size: 100% 100%;

=======
.hero,
.openings,
.contact,
.faq,
.signin {
  background-repeat: no-repeat;
  background-size: 100% 100%;
>>>>>>> f9d413c (chnage)
}
.hero {
  background-image: url("../../public/images/hero.png");
}
.openings {
  background-image: url("../../public/images/openings.png");
}

.contact {
  background-image: url("../../public/images/contact.png");
}

.faq {
  background-image: url("../../public/images/faq.png");
}

.signin {
  background-image: url("../../public/images/signin.png");
  /* height: 80dvh; */
}
<<<<<<< HEAD
<<<<<<< HEAD
>>>>>>> 0a18f20 (Completed all the front end pages)
=======
=======
=======
>>>>>>> f9d413c (chnage)
.jodit-container:not(.jodit_inline) {
  border-color: black !important;
}
.hero {
  background-image: url("../../public/images/hero.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
<<<<<<< HEAD
>>>>>>> 61b374e (update)
>>>>>>> c4272b6 (update)
=======
>>>>>>> f9d413c (chnage)
